#content {
	margin-top: 20%;
}

a, .block {
	zoom: 2;
}
h2, p {
	zoom: .5;
}

.navbar-bg {
    position: fixed;
    top: 0;
    width: 100%;
}

.material-icons {
	zoom: 3;
    display: block !important;
}

.button, hr {
    display: none !important;
}

img.logo {
	width: 90%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1em;
}